---
import { projects } from "../content/projects";
import Slider from "./Slider.astro";
---

{
  projects.map((project) => (
    <div class="projectItem" id={project.id}>
      <div class="projectTitleWrapper" style={project.colors}>
        <div class="projectTitle">{project.title}</div>
        <div class="projectTechniques">
          {project.techniques.map((technique) => (
            <div class="techniqueIcon" title={technique}>
              <svg width="24px" height="24px">
                <use xlink:href={`sprite.svg#${technique}`} />
              </svg>
            </div>
          ))}
        </div>
      </div>
      <div class="sliderWrapper">
        <Slider sliderId={project.id} projectsImgUrl={project.projectsImgUrl} />
      </div>
      <div class="projectDescription">
        <h3>{project.description}</h3>
      </div>
      <div class="projectFooterWrapper">
        <div class="githubLink">
          <a href={project.github} target="_blank">
            <h3>
              GitHub: <span class="accent">{project.github}</span>
            </h3>
          </a>
        </div>
        <div class="projectLink">
          <a href={project.link} target="_blank">
            <h3>
              link: <span class="accent">{project.link}</span>
            </h3>
          </a>
        </div>
      </div>
    </div>
  ))
}

<style>
  .projectItem {
    background: var(--mainDark);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-bottom: 40px;
  }

  .projectTitleWrapper,
  .projectDescription,
  .projectFooterWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 0rem;
  }

  .projectTitle,
  .projectTechniques {
    display: flex;
    width: 50%;
  }

  .techniqueIcon {
    padding-right: 10px;
  }

  .sliderWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .github {
  }

  .githubLink,
  .projectLink {
    width: 50%;

    h3 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .accent {
      opacity: 0.5;
    }
  }
</style>
