---
import { projects } from "../content/projects";
import Slider from "./Slider.astro";
---

{
  projects.map((project) => (
    <div class="projectItem" id={project.id}>
      <div class="projectTitleWrapper" style={project.colors}>
        <div class="projectTitle">{project.title}</div>
        <div class="projectLink">
          <a class="githubLink" href={project.link} target="_blank">
            link: <span class="accent">{project.link}</span>
          </a>
        </div>
        <div class="projectTechniques">
          {project.techniques.map((technique) => (
            <div class="techniqueIcon">
              <svg width="24px" height="24px">
                <use xlink:href={technique} />
              </svg>
            </div>
          ))}
        </div>
      </div>
      <div class="sliderWrapper">
        <Slider sliderId={project.id} projectsImgUrl={project.projectsImgUrl} />
      </div>
      <div class="githubWrapper">
        <a class="githubLink" href={project.github} target="_blank">
          <h3>
            GitHub: <span class="accent">{project.github}</span>
          </h3>
        </a>
      </div>
    </div>
  ))
}

<style>
  .projectItem {
    background: var(--mainDark);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin-bottom: 40px;
  }

  .projectTitleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 0rem;
  }

  .projectTitle {
    width: 30%;
  }

  .projectLink {
    width: 35%;
  }

  .projectTechniques {
    display: flex;
    width: 30%;
  }

  .techniqueIcon {
    padding-right: 10px;
  }

  .sliderWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }

  .githubWrapper {
    padding: 20px 0;
  }
  .accent {
    opacity: 0.5;
  }
</style>
